body {
    background-color: #e8eecff3;
    font-size:  90%
}

header{
	background: #b8aeae;
	text-align: center;
}
h1{
	color:#364363 !important;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
	background-color:  #b8aeae;
}
nav{
	font-variant: small-caps;
	font-family: Lucida Console, Courier, monospace;;
	font-size: 200%;
}

h2{
	color: #e2b9b9;
	background: #3a5f69af;
}


summary{
	font-style:normal;
}

details{
	font-style: italic;
}

footer{
	background: #767980
}


